html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
main{
	display: flex;
	justify-content: center;	
	padding-top:7em;
/*	background: #fff;*/
	width: 100%;
	height: 100%;
}
#main-center{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 70%;
	height: 80%;	
/*	background: #fcf;*/
	border-radius: 0.5em;
}
#graph-holder{
	width: 90%;
	height: 90%;
}
#xml{
	display: none
}
.header-wrapper{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 6em;
	z-index: 2;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.nav-link{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color:#000
}
.nav-ul{
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: center;
	padding: 0;
	gap: 1em;
}
.nav-item{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3em;
	width: 6em;
	background: #fff;
	text-align: center;
	border: 1px solid #333;
}
.nav-item:hover{
	border: 1px solid #33f;
}
